table, th, td{
  border:2px solid black;
  padding: 5px;
}
table{
  border-spacing: 2px;
}
th{
  background-color: #262626;
  color:red;
}
td{
  background-color:#d9d9d9;
}

h1,h2{
  background-color:DodgerBlue;
  margin:1px;
  border:1px soild #4CAF50;
  text-align: center;
  width:600px;
}
